<%- include ("partials/header") %>

<div class="container">

	<h1> <%=cafe.name%> </h1>

	<img src="<%= cafe.image %>" >

	<p> <%= cafe.description%> </p>

	<a href="/allCafes" class="text-primary">Go Back to Cafes</a>

</div>

<%- include ("partials/footer") %>
